---
import { CLIENT } from '@/config/client';

const { footer } = CLIENT;
---

<footer class="lp-footer">
  <div class="lp-footer-rule"></div>
  <p class="lp-footer-copy">{footer.year} © {footer.copyright}</p>
  <a href={footer.privacyHref} target="_blank" rel="noopener" class="lp-footer-link">
    Política de privacidade
  </a>
</footer>
